/* .form-inline .btn .btn-outline-primary{
    color:
} */

.btn.btn-outline-info a{
    color: #17a2b8;
}

.btn.btn-outline-info:hover a{
    color: white;
    text-decoration: none;
}

.btn.btn-success a, .btn.btn-success a:hover {
    color: white;
    text-decoration: none;
}

footer {
    padding: 15px 0;
    background-color: #17a2b8;
    color: white;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.content-wrapper {
    min-height: calc(100vh - 126px);
    padding: 20px 0;
}

.content-wrapper .col-md-3{
    padding: 0;
}

.navbar a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.navbar a:hover {
    color: rgba(255, 255, 255, 1);
}

.navbar {
    padding: 1em 1rem;
}

.dropdown-menu a {
    color: #343a40;
}

.dropdown-menu a:hover {
    color: #343a40;
}

.accordion .collapse {
    padding: 8px;
}
.table-responsive thead th {
    cursor: pointer;
}

.table-responsive thead th::after {
    content: "^";
    float: right;
}

.table-responsive td, 
.table-responsive th {
    white-space: nowrap;
    width: 1%;
}